.dashboard-product-box {
  @include square(100%);
  overflow: auto;
  padding: 2rem;
  background-color: white;
  overflow-y: auto;
}
.main-container{
    overflow-y:auto;
}

.add-product-btn {
  background-color: rgb(201, 9, 9);
  position: fixed;
  top: 2rem;
  right: 2rem;
  @include square(2.5rem);
  @include flex(row, center, center, 0);
  border-radius: 50%;
  color: white;
    &:hover{
        opacity: 0.8;
    }
}
